@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Orbitron&family=Oswald:wght@700&family=Poppins&display=swap');

html {
    color: white;
}

.link-home {
    margin: 45px;
    color: white;
    /* margin-top: 50px; */
}

.projet-titre {
    /* top: 0; */
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 5%;
    color: rgb(230, 236, 240);
    font-family: "Antonio";
    padding: 0px;
    /* margin-top: 5%; */
}

#container {
    border: 2px red;
    height: 100vh;
    position: relative;
    top: 70px;
    /* display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between; */
    /* max-width: 1200px; */
    margin: 0 auto;
    /* margin-bottom: 80px; */
}

.content-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 3em;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 50px;
}

.text-project {
    display: flex;
    flex-direction: column-reverse;
}


.img-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.date {
    margin-bottom: 10px;
}

.link-project {
    margin-top: 20px;
}

.link-project a {
    margin-right: 20px;
    color: white;
}

h3.title-tool {
    font-size: 1.6em;
}


h3.mb {
    font-size: 1.6em;
    
}

.name {
    margin-top: 10px;
}

.tools div {
    /* margin: 20px; */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 3em; 
}

.tools p {
    color: rgb(255, 255, 255);
    background-color: #1f1f1f;
    border: solid 2px #ffffff;
    border-radius: 90px;
    height: 30px;
    width: 100px;
    text-align: center;
}



.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 3em;
    max-width: 1100px;
    margin: auto;
}


.gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;

}

.img-gallery {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


@media screen and (min-width: 450px) {
    .projet-titre {
        font-size: 2em;
    }

    .content-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
        margin-left: 20px;
        margin-right: 20px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    .container-tools {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .img-gallery {
        width: 60vw;
    }

    .img-shadow {
        width: 60vw;
    }
}

@media screen and (min-width: 600px){
    .projet-titre {
        font-size: 2.4em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        column-gap: 3em;
        max-width: 600px;
        font-size: 1em;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        column-gap: 3em;
        max-width: 600px;
        margin: auto;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    .container-tools {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .img-gallery {
        width: 40vw;
    }  

    .img-shadow {
        width: 50vw;
    }
    
}
@media screen and (min-width: 750px) {
    .projet-titre {
        font-size: 2.5em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        column-gap: 3em;
        max-width: 700px;
        font-size: 1.1em;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        column-gap: 3em;
        max-width: 700px;
        margin: auto;
        margin-bottom: 50px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    .container-tools {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }
    
    .img-gallery {
        width: 60vw;
    }

    .img-shadow {
        width: 60vw;
    }

}

@media screen and (min-width: 900px) {
    .projet-titre {
        font-size: 2.5em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        column-gap: 3em;
        max-width: 1000px;
        font-size: 1.1em;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: start;
        column-gap: 3em;
        max-width: 850px;
        margin: auto;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }

    h3.title-tool {
        font-size: 1.4em;
    }

    h3.mb {
        font-size: 1.4em;
    }

    .name {
        font-size: 1.1em;
    }

    .tools div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tools p {
        font-size: 1.1em;
        height: 30px;
        width: 120px;
        max-width: 120px;
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

    .img-gallery {
        width: 50vw;
    }

    .img-shadow {
        width: 50vw;
    }
}

@media screen and (min-width: 1000px){
    .projet-titre {
        font-size: 3em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        column-gap: 3em;
        max-width: 1000px;
        font-size: 1.1em;
    }

    .container2 {
        display: flex;
        column-gap: 3em;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 50px;
    }

    h3.title-tool {
        font-size: 1.5em;
    }

    h3.mb {
        font-size: 1.5em;
    }

    .name {
        font-size: 1.1em;
    }

    .tools p {
        font-size: 1.1em;
        height: 30px;
        width: 130px;
        max-width: 130px;
        text-align: center;
    }

    .container2 {
        margin-left: 25px;
        margin-right: 25px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        column-gap: 4em;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .img-gallery {
        width: 60vw;
}
}

@media screen and (min-width: 1200px) {
    .link-home {
        font-size: 1.1em;
    }

    #container {
        margin: auto;
    }

    .projet-titre {
        font-size: 3.3em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: row;
        row-gap: 3em;
        max-width: 1200px;
        font-size: 1.2em;
        margin-bottom: 50px;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        row-gap: 3em;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }

    h3.title-tool {
        font-size: 1.6em;
    }
    
    h3.mb {
        font-size: 1.6em;
    }

    .name {
        font-size: 1.2em;
    }
    
    .tools p {
        font-size: 1.2em;
        height: 30px;
        width: 130px;
        max-width: 130px;
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1400px) {
    .link-home {
        font-size: 1.2em;
    }

    #container {
        top: 80px;
        margin: auto;
    }

    .projet-titre {
        font-size: 3.4em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: row;
        row-gap: 3em;
        max-width: 1350px;
        font-size: 1.3em;
        margin-bottom: 50px;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        row-gap: 3em;
        max-width: 1400px;
        margin: auto;
        margin-bottom: 50px;
    }

    h3.title-tool {
        font-size: 1.6em;
    }
    
    h3.mb {
        font-size: 1.6em;
    }

    .name {
        font-size: 1.3em;
    }
    
    .tools p {
        font-size: 1.3em;
        height: 30px;
        width: 150px;
        max-width: 150px;
        text-align: center;
    }

    .container2 {
        margin-left: 25px;
        margin-right: 25px;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 4em;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1500px) {
    .link-home {
        font-size: 1.3em;
    }

    #container {
        top: 90px;
        margin: auto;
    }

    .projet-titre {
        font-size: 3.5em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: row;
        row-gap: 3em;
        max-width: 1400px;
        font-size: 1.4em;
        margin: auto;
        margin-bottom: 50px;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        column-gap: 4em;
        max-width: 1400px;
        margin: auto;
        margin-bottom: 50px;
    }

    h3.title-tool {
        font-size: 1.8em;
    }
    
    h3.mb {
        font-size: 1.8em;
    }

    .name {
        font-size: 1.3em;
    }

    .tools p {
        font-size: 1.3em;
        height: 35px;
        width: 200px;
        max-width: 200px;
        text-align: center;
    }

    .container-tools {
        row-gap: 20px;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 4em;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1696px) {
    .link-home {
        font-size: 1.4em;
    }

    #container {
        top: 90px;
        margin: auto;
    }
    .projet-titre {
        font-size: 4em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: row;
        row-gap: 3em;
        max-width: 1600px;
        font-size: 1.5em;
        margin-bottom: 50px;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        row-gap: 4em;
        max-width: 1600px;
        margin: auto;
        margin-bottom: 50px;
    }

    h3.title-tool {
        font-size: 1.9em;
    }
    
    h3.mb {
        font-size: 1.9em;
    }

    .name {
        font-size: 1.4em;
    }

    .tools p {
        font-size: 1.4em;
        height: 35px;
        width: 200px;
        max-width: 200px;
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 4em;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1800px) {
    .link-home {
        font-size: 1.9em;
    }

    #container {
        top: 90px;
        margin: auto;
    }

    .projet-titre {
        font-size: 4em;
        padding: 0px;
    }

    .content-project {
        display: flex;
        flex-direction: row;
        column-gap: 4em;
        max-width: 1750px;
        margin: auto;
        margin-bottom: 50px;
        font-size: 1.5em;
    }

    .container2 {
        display: flex;
        flex-direction: row;
        row-gap: 4em;
        max-width: 1750px;
        margin: auto;
        margin-bottom: 50px;
    }
    
    h3.title-tool {
        font-size: 2em;
    }
    
    h3.mb {
        font-size: 2em;   
    }

    .name {
        font-size: 1.5em;
    }

    .tools p {
        font-size: 1.5em;
        height: 40px;
        width: 200px;
        max-width: 200px;
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 4em;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* .img-project {
    height: 50vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    object-fit: contain;
} */

/* .responsive-image {
    width: 100%;
    height: auto;
    object-fit: cover;
} */

/* .tools img {
    width: 5%;
    height: 10%;
} */
