@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Orbitron&family=Oswald:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Orbitron&family=Oswald:wght@700&family=Poppins&display=swap');

@import url('./Fonts/css/satoshi.css');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; 
    padding: 0;
    background-color: rgb(12, 12, 12);
    font-family: "satoshi";
    list-style: none;
    text-decoration: none; 
    background-image: url(./images/neonbis.svg);
    background-position: center;
}


.navbar {
    position: fixed;
    z-index: 100;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(120, 120, 120, 0);
    backdrop-filter: blur(10px);
    /* background-color: blue; */
        
}

.navbar a {
    color: white;
}

.navbar .nav-links ul {
    display: flex; 
}


.navbar .nav-links ul li {
    margin: 0 25px;
}

.logo {
   font-weight: bold;
   font-size: 1em;
   font-family: "satoshi";
   margin: 0 25px;

}

.burger-menu {
    z-index: 5;
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 35px;
    cursor: pointer;
}

/* responsive navbar */

@media screen and (max-width: 900px) {
    .navbar {
        position: absolute;
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .burger-menu {
        display: block;
    }

    .nav-links {
        z-index: 4;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.265);
        backdrop-filter: blur(20px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%; 
        /* transition: all 0.5s ease; */
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
}


.title-accueil {
    z-index: 1;
    /* display: flex;
    justify-items: left;
    align-items: center; */
    left: 100px;
    position: relative
}

h1 {
    color: rgb(230, 236, 240);
    font-size: 5em;
    font-family: "Orbitron";
    padding: 0px;
    /* margin-bottom: 50px; */

}

h2 {
    font-size: 4em;
    color: white;
    font-family: "Orbitron";
    margin-left: 50px;
}


/* .title-accueil {
    display: flex;
    justify-content: center;
    align-items: center;
} */


li {
    list-style-type: none;
    color: white;
    font-family: "satoshi";
}

.accueil-container {
    /* width: 100vw; */
    height: 100vh;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    /* ou left? */
    align-items: center;
    text-align: center;
    align-items: center;
    background-image: url(./images/neonviolet.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;

}

/* .gradient {
    width: 40%;
    margin-left: auto;

} */


/* about */

.section-title {
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    /* padding-top: 50px; */

}
/* 
.title-about {
    margin-bottom: 50px;    
} */

#title-about {
    color: white;
    font-size: 3em;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    text-align: center;
    margin-left: 0;
    padding-top: 0;
    /* text-decoration: 20px underline;
    text-underline-position: under; */
}
/* .highlight{
    display: inline;
    padding-bottom: 20px solid #2F2BDF;

} */
#about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid #df2b91;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    /* margin-top: 100px; */

}

.text p {
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img-about {
    width: 50vh;
    border-radius: 5%;
    /* object-fit: cover;
    object-position: center; */
}

.button-cv {
    background-color: #2F2BDF;
    color: white;
    padding: 10px 20px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 1.5em;
    transition: all .1s;
    &:hover {
        background-color: #817FFF;
    }

}
/* responsive about + h1 */

@media screen and (max-width: 1050px) {
    #about {
        height: auto;
    }
    .about-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 4em;
        text-align: center;
    }
    
}

@media screen and (max-width: 700px) {
    .title-accueil {
        left: 0;
    }
}
@media screen and (max-width: 300px) {
    /* .img-container {
        width: 50%;
        object-fit: cover;
        object-position: center;
        padding: 30px;
    } */
        .img-about {
            width: 90%;
            object-fit: cover;
            object-position: center;

    }

    h1 {
        font-size: 2em;
        text-align: center;
    }

    .title-accueil {
        left: 0;
        margin: auto;
    }

    .accueil-container {
        margin: 0;
    }
    


}


@media screen and (max-width: 450px) {
    .img-about {
        width: 70%;
    }

    .text {
        max-width: 250px;
    }

    .text p {
         font-size: 80%;
         object-position: center;
   }

   h1 {
    font-size: 2em;
    text-align: center;
   }

   .title-accueil {
        margin: auto;
   }
   
   .accueil-container {
    margin: 0;
   }
 }
 

/* projets */

#projects {
    height: auto;
}

.project-title {
    padding-top: 50px;
    margin-bottom: 60px;
}
.projects-container {
    display: grid;
    max-width: 1150px;
    margin: auto;
    column-gap: 3rem;
    row-gap: 3em;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    grid-template-rows: repeat(2, auto);
    margin-bottom: 20px;
}

.project-box {
    height: 30vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: all .3s;
    &:hover {
      box-shadow: 0px 10px 20px #2F2BDF;
    }
    cursor: pointer;
}

.img-text {
    display: none;
}

/* projects responsive */

@media screen and (max-width: 1200px) {
    .project-title{
        margin-bottom: 0px;
    }
    .projects-container {
        grid-template-columns: repeat(2, minmax(350px, 1fr));
        padding: 40px;
        height: auto;  
    }

    .project-box {
        width: 100%;
        height: 50vh;
        background-position: cover;
    }
}

@media screen and (max-width: 1000px) {
    .project-box {
        height: 40vh;
    }
    
}
@media screen and (max-width: 840px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        column-gap: 0rem;
        row-gap: 1em;
    }
    .project-box {
        height: 35vh;
        width: 90%;
        margin: auto;
    }

}

@media screen and (max-width: 700px) {
    .project-box {
        height: 30vh;
        width: 85%;
    }
}

@media screen and (max-width: 650px) {
    .projects-container {
        grid-template-columns: 1fr;
        height: auto;
    }
    
    .project-box {
        height: 50vh;
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .project-box {
        height: 35vh;
        width: 90%;
    }
}

@media screen and (max-width: 430px) {
    .projects-container {
        padding: 20px 40px 40px 40px;
    }
    .project-box {
        height: 25vh;
        width: 100%;
    }
    
}
.project img {
    width: 100%;
    object-fit: cover;
    
}

.project a{
    color: white;
}

/* .project { */
        /* max-width: 100%; */
        /* border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.5);
        transition: all .3s;
        &:hover {
          box-shadow: 0px 10px 20px rgba(222, 223, 235, 0.8);
        }
} */


/* skills */
#skills {
    height: 100vh;
    border: #df2b91 solid 1px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.skill-title {
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    font-size: 2em;
}

.list-skill {
    font-size: 1.4em;
}
#skills-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-top: 0px;
}

#skills-flex {
    /* font-size: 1.4em; */
    display:flex; 
    flex-direction:row; 
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    
}

#line{
    border: 4px solid #2F2BDF;
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    #skills {
        height: auto;
    }
    #skill {
        word-wrap:break-word;
    }
    .skill-title {
        word-wrap:break-word;
        margin-bottom: 20px;
        font-size: 1.5em;
    }
     #skills-flex {
        margin-left: 20px;
        margin-right: 20px;
     }


}

@media screen and (max-width: 400px) {
    .section-title {
        font-size: 2.5em;
    }
    h2 {
        margin-left: 0px;
        text-align: center;
    }
    .skill-title {
        margin-bottom: 20px;
        font-size: 1.3em;
    }
    .list-skill {
        font-size: 1em;
    }
    #skills-content {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    #skills-flex {
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/* contact */
#contact {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-container {
    display: grid;
    grid-template-columns:  1fr;
    gap: 40px;
}

footer {
    padding: 20px;
    /* background-color: #2F2BDF; */
    background-color: #817FFF;

}
.footer {
    color: white;
    text-align: center;
    font-size: 2em;
}

p.item {
    font-size: 1.5em;
    color: white;
    margin-left : 50px
}
a.link {
    background-color: #2F2BDF;
    color: white;
    padding: 10px 20px;
    border-radius: 90px;
    text-decoration: none;
    font-size: 1.5em;
    transition: all .1s;
    &:hover {
        background-color: #817FFF;
    }


}

